/* * {
    box-shadow: 0 0 0 3px red inset;
} */

/* Placemement du header et de main dans la page */
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 115px 1fr;
    grid-template-areas:
        "header header"
        "main main";
}

header {
    grid-area: header;
}

/* --- --- */
/* -------------------- Main -------------------- */
/* Placemement éléments dans main */
main {
    grid-area: main;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin: auto;
}

.gauche,
.droite {
    position: relative;
    height: 100%;
}

/* Placement du bloc avec l'image */
.gauche {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gauche img {
    position: relative;
    max-width: 400px;
}
/* --- */
/* Placement du bloc avec le texte */
.droite {
    width: 60%;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

/* Texte qui se modifie */
.jeSuis {
    width: 100%;
    text-align: center;
    font-size: 2.1rem;
    font-weight: bold;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Texte d'introduction */
.text {
    text-align: justify;
}

/* --- --- */
/* ------------------- MediaQueries ------------------- */
@media (max-width: 1300px) {

    /* On place les 2 éléments de la page en colonne */
    main {
        flex-direction: column;
        padding-bottom: 60px;
        width: 100%;
    }

    /* Redimmension de l'image */
    img {
        width: 325px;
    }

    /* Faire descendre le texte d'introdution pour éviter la superpostion avec l'image */
    .gauche {
        margin-bottom: 125px;
    }
}

@media (max-width: 750px) {

    /* Agrandissement de la zone d'intro */
    .droite {
        width: 80%;
        font-size: 1.25rem;
    }

    /* Changement du format du texte */
    .text {
        text-align: center;
    }
}

@media (max-width: 480px) {

    /* Redimmension de l'image */
    img {
        width: 300px;
    }
}