* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Permet d'éviter que le contenu se déplace à gauche 
dû à la barre de défilement */
html {
    font-size: 1rem;
    width: 100vw;
    font-family: Verdana, Geneva, sans-serif;
}

/* Affichage du body en transition avec l'opacité */
body {
    opacity: 0;
    height: 100vh;
    background-color: rgb(18, 18, 18);
    transition: opacity 0.3s ease-in-out;
    overflow-x: hidden;
}

/* --- --- */
/* ------------------- Header ------------------- */
header {
    width: 450px;
    height: 60px;
    position: relative;
    top: 45px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Lien de navigation */
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 100%;
}

.lien {
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    font-weight: bolder;
    position: relative;
}

/* Barre de soulignement du lien */
.lien::after {
    content: "";
    position: absolute;
    border-bottom: 2px solid;
    color: rgb(255, 255, 255);
    width: 0%;
    top: 85%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    transition: width 0.3s ease-in-out;
}

.lien.active::after {
    width: 100%;
    transition: width 0.3s ease-in-out;
}


/* --- --- */
/* ----------------- Le fond de page mouvant ----------------- */
.gradientAnimation {
    position: absolute;
    top: -10px;
    width: 100%;
    height: 500px;
    filter: blur(200px);
    opacity: 0;
    background: linear-gradient(45deg, #FF5733, #6B16F7, #00C9FF, #11FF02, #ff02d1, #11FF02);
    background-size: 250%;
    animation: gradientAnimation 20s ease-in-out alternate infinite;
    transition: opacity 0.3s ease-in-out;
}

@keyframes gradientAnimation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

/* --- --- */
/* ---------------- Menu pour les petits écrans ---------------- */
/* Menu */
.menu {
    z-index: 9000;
    top: calc(-50% + 40px);
    height: 60px;
    width: 60px;
    position: absolute;
    border-radius: 15px;
    display: none;
    justify-content: center;
    align-items: center;
    transition:
        width 0.5s ease-in-out 0.5s,
        top 0.5s ease-in-out;
}

.menu.active {
    width: 100%;
    top: calc((-40px / 2) + 5px);
    transition:
        width 0.5s ease-in-out,
        top 0.5s ease-in-out 0.5s;
}

/* Barre du bas du menu */
.menu::before {
    z-index: 500;
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60px;
    width: 60px;
    border-bottom: 3px solid white;
    border-radius: 15px;
    transition:
        width 0.5s ease-in-out 0.5s,
        top 0.5s ease-in-out;
}

.menu.active::before {
    border-bottom: 3px solid white;
    top: calc(100vh - 31px);
    width: 100%;
    transition:
        width 0.5s ease-in-out,
        top 0.5s ease-in-out 0.5s;
}

/* Barre du haut du menu */
.menu::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60px;
    width: 60px;
    border-top: 3px solid white;
    border-radius: 15px;
    transition:
        width 0.5s ease-in-out 0.5s,
        top 0.5s ease-in-out;
}

.menu.active::after {
    border-top: 3px solid white;
    top: 31px;
    width: 100%;
    transition:
        width 0.5s ease-in-out,
        top 0.5s ease-in-out 0.5s;
}

/* --- */
/* Les barres du menu qui se transforment en croix */
.menu .barre {
    z-index: 500;
    height: inherit;
    width: 60px;
}

.menu .barre span {
    height: 5px;
    width: 40px;
    position: absolute;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width .3s ease-in-out;
}

/* Barre du milieu */
.menu .barre span:nth-child(1) {
    width: 40px;
}

.menu.active .barre span:nth-child(1) {
    width: 0px;
}

/* Barre du haut */
.menu .barre span:nth-child(2) {
    top: calc(50% - 13px);
    transform: translate(-50%, -50%);
    transition:
        transform .5s ease-in-out,
        top .5s ease-in-out,
        width .5s ease-in-out 0.5s;
}

.menu.active .barre span:nth-child(2) {
    top: 50%;
    width: 50px;
    transform: translate(-50%, -50%) rotate(225deg);
}

/* Barre du bas */
.menu .barre span:nth-child(3) {
    top: calc(50% + 13px);
    transform: translate(-50%, -50%);
    transition:
        transform .5s ease-in-out,
        top .5s ease-in-out,
        width .5s ease-in-out 0.5s;
}

.menu.active .barre span:nth-child(3) {
    top: 50%;
    width: 50px;
    transform: translate(-50%, -50%) rotate(-225deg);
}

/* --- */
/* Les liens du menu */
/* On cache les liens */
.menu .liens {
    position: absolute;
    height: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:
        height 0.5s ease-in-out 0.5s,
        width 0.3s ease-in-out,
        opacity .5s ease-in-out .5s;
}

/* On affiche les liens petit a petit avec la hauteur, la largeur et l'opacité */
.menu.active .liens {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    top: -3px;
    opacity: 1;
    transition:
        height 0.5s ease-in-out 0.5s,
        width 0.3s ease-in-out,
        opacity .5s ease-in-out .5s;
}

/* Placement des liens dans la balise 'nav' */
.menu.active nav {
    position: absolute;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 100%;
    gap: 65px;
}

.menu.active nav li a {
    font-size: 1.5rem;
}

/* --- --- */
/* ------------------- MediaQueries ------------------- */
/* En dessous de 480px en largeur */
@media (max-width: 480px) {

    /* Le header prend toutes la largeur de la page */
    header {
        width: 100vw;
    }

    /* On enlève la nav pour les grands écrans */
    header nav {
        display: none;
    }

    /* On affiche la nav pour les petits écrans */
    .menu {
        display: flex;
    }

    .gradientAnimation {
        background-size: 800%;
    }
}