* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
}

body {
    opacity: 0;
    height: 100vh;
    background-color: rgb(18, 18, 18);
    transition: opacity 0.3s ease-in-out;
}

header {
    width: 450px;
    height: 60px;
    position: relative;
    top: 45px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 100%;
}

.lien {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    font-weight: bolder;
    position: relative;
}

.lien::after {
    content: "";
    position: absolute;
    border-bottom: 2px solid;
    color: rgb(255, 255, 255);
    width: 0%;
    top: 85%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    transition: width 0.3s ease-in-out;
}

.lien.active::after {
    width: 100%;
    transition: width 0.3s ease-in-out;
}

@keyframes gradientAnimation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

/* Apply the animation to an element */
.gradientAnimation {
    position: absolute;
    top: -10px;
    width: 100%;
    height: 500px;
    filter: blur(200px);
    opacity: 0;
    background: linear-gradient(45deg, #FF5733, #6B16F7, #00C9FF, #11FF02, #ff02d1, #11FF02);
    background-size: 250%;
    animation: gradientAnimation 20s ease-in-out alternate infinite;
    transition: opacity 0.3s ease-in-out;
}


.menu {
    z-index: 9000;
    top: calc(-50% + 40px);
    height: 60px;
    width: 60px;
    position: absolute;
    /* border-top: 3px solid white; */
    border-radius: 15px;
    display: none;
    justify-content: center;
    align-items: center;
    transition:
        width 0.5s ease-in-out 0.5s,
        top 0.5s ease-in-out;
}

.menu.active {
    width: 100%;
    top: calc((-40px / 2) + 5px);
    transition:
        width 0.5s ease-in-out,
        top 0.5s ease-in-out 0.5s;
}

.menu::before {
    z-index: 500;
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60px;
    width: 60px;
    border-bottom: 3px solid white;
    border-radius: 15px;
    transition:
        width 0.5s ease-in-out 0.5s,
        top 0.5s ease-in-out;
}

.menu.active::before {
    border-bottom: 3px solid white;
    top: calc(100vh - 31px);
    width: 100%;
    transition:
        width 0.5s ease-in-out,
        top 0.5s ease-in-out 0.5s;
}

.menu::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60px;
    width: 60px;
    border-top: 3px solid white;
    border-radius: 15px;
    transition:
        width 0.5s ease-in-out 0.5s,
        top 0.5s ease-in-out;
}

.menu.active::after {
    border-top: 3px solid white;
    top: 31px;
    width: 100%;
    transition:
        width 0.5s ease-in-out,
        top 0.5s ease-in-out 0.5s;
}

.menu .barre {
    z-index: 500;
    height: inherit;
    width: 60px;
}

/* La croix */
.menu .barre span {
    height: 5px;
    width: 40px;
    position: absolute;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width .3s ease-in-out;
}

.menu .barre span:nth-child(1) {
    width: 40px;
}

.menu .barre span:nth-child(2) {
    top: calc(50% - 13px);
    transform: translate(-50%, -50%);
    transition:
        transform .5s ease-in-out,
        top .5s ease-in-out,
        width .5s ease-in-out 0.5s;
}

.menu .barre span:nth-child(3) {
    top: calc(50% + 13px);
    transform: translate(-50%, -50%);
    transition:
        transform .5s ease-in-out,
        top .5s ease-in-out,
        width .5s ease-in-out 0.5s;
}

.menu.active .barre span:nth-child(1) {
    width: 0px;
}

.menu.active .barre span:nth-child(2) {
    top: 50%;
    width: 50px;
    transform: translate(-50%, -50%) rotate(225deg);
}

.menu.active .barre span:nth-child(3) {
    top: 50%;
    width: 50px;
    transform: translate(-50%, -50%) rotate(-225deg);
}

/* Les liens */
.menu .liens {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:
        height 0.5s ease-in-out 0.5s,
        width 0.3s ease-in-out,
        opacity .5s ease-in-out .5s;
}

.menu.active .liens {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    top: -3px;
    opacity: 1;
    transition:
        height 0.5s ease-in-out 0.5s,
        width 0.3s ease-in-out,
        opacity .5s ease-in-out .5s;
}

.menu.active nav {
    position: absolute;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 100%;
}

.menu.active nav li {
    margin: 30px 0;
}



@media (max-width: 480px) {
    header {
        width: 100vw;
    }

    header nav {
        display: none;
    }

    .menu {
        display: flex;
    }

    .gradientAnimation {
        background-size: 800%;
    }
}